<div class="list-group list-group-flush w-100">
    <div class="list-group-item fs-4 text-uppercase text-bg-dark blur-dark">{{ article.title }}</div>
</div>

    {% if article.featuredImageVisible and not article.contentVisible %}
    <div class="p-3 my-auto">
        <div class="row g-3">
            <div class="col-12">
                <img src="{{ asset(article.featuredImageUrl)|imagine_filter('sample_image') }}" class="img-fluid img-thumbnail" alt="{{ article.title }}" style="max-height: 800px">
            </div>
        </div>
    </div>
    {% endif %}

    {% if article.featuredImageVisible and article.contentVisible %}
<div class="p-3 my-auto">
        <div class="row g-3">
            <div class="col-4">
                <img src="{{ asset(article.featuredImageUrl)|imagine_filter('sample_image') }}" class="img-fluid img-thumbnail" alt="{{ article.title }}" style="max-height: 600px">
            </div>
            <div class="col-7">
                {#
                {% if article.titleVisible %}
                <div class="col">
                    <div class="fw-bold display-4">{{ article.title }}</div>
                </div>
            {% endif %}
                #}



                <div class="col fs-4" style="text-align: justify!important;">
                    {{ article.content|raw }}
                </div>

            </div>
        </div>
</div>
    {% else %}

        {% if article.contentVisible %}
            <div class="mx-auto my-auto p-3 pt-0">
                <div class="fs-4">
                    {{ article.content|raw }}
                </div>
            </div>
        {% endif %}
    {% endif %}

