<div class="list-group list-group-flush w-100">
    <div class="list-group-item fs-4 text-uppercase text-bg-dark blur-dark">{{ article.title }}</div>
</div>

<ul class="list-group list-group-flush w-100 mb-auto border-0">
    {% for listEntry in article.list %}
        {% if listEntry.title %}
            {% if loop.index0 != 0 %}{% set margin = "mt-3" %}{% endif %}
            <li class="list-group-item d-flex justify-content-start align-items-center text-bg-tertiary border-0 {{ margin ?? '' }}  text-white fw-bold  fs-5">
                {{ listEntry.description }}
            </li>
        {% else %}
            <li class="list-group-item d-flex justify-content-start align-items-center border-0 border-top text-bg-tertiary text-white fs-6" style="border-color: #255372!important">
                <div style="width: 250px" class="me-3">{{ listEntry.description }}</div>
                <div>{{ listEntry.content }}</div>
            </li>
        {% endif %}

    {% endfor %}
</ul>

{% if article.contentVisible %}
    <div class="align-self-center fs-4 mb-5">
        {{ article.content|raw }}
    </div>
{% endif %}
