{% for departure in result.departures %}
    <div class="list-group-item fs-6 text-bg-primary border-0 border-end border-dark">
        <div class="d-flex flex-column justify-content-between align-items-start">
            <div class="d-flex align-items-center">
                {% if departure.line.productName == 'Bus' %}
                    <img src="{{ asset('images/bus.svg') }}" width="20" alt="Bus" class="me-1">
                    <div class="badge text-bg-bus rounded rounded-1 px-1 me-1">{{ departure.line.id }}</div>
                {% endif %}
                {% if departure.line.productName == 'S' %}
                    <img src="{{ asset('images/suburban.svg') }}" width="20" alt="S-Bahn" class="me-1">
                    <div class="badge text-bg-suburban rounded rounded-1 px-1 me-1 text-uppercase">{{ departure.line.id }}</div>
                {% endif %}
                <i class="bi bi-arrow-right me-1"></i>
                <div class="text-truncate ">{{ departure.direction }}</div>
            </div>
            <div class="w-100">
                <div class="fs-5">{{ departure.when|date('H.i')|ago }}</div>
            </div>
        </div>
    </div>
{% endfor %}


