

{% for entry in courseEntries %}
    <div class="list-group-item border-0 border-bottom border-dark small text-bg-primary" style="background-color: {{ entry.scheduleType.color ~ "20!important" }}">
        <div class="row g-1">
            <div class="col-3 text-uppercase fw-bold fs-6">{{ entry.entryTime.name|trans }}</div>
            <div class="col-7 text-uppercase fw-bold fs-6">{{ entry.course }} <span class="fa fa-fw fa-book ms-3 me-1"></span>{{ entry.plannedSubject }}</div>
            <div class="col-2 text-uppercase fw-bold fs-6 text-end"><span class="fa fa-fw fa-location-dot"></span>{{ entry.plannedRoom }}</div>
            <div class="col-3 text-uppercase" style="color: {{ entry.scheduleType.color ~ "!important" }}">
                    {{ entry.scheduleType }}
            </div>
            <div class="col-9 text-uppercase">
                <span class="fa fa-fw fa-person-chalkboard me-2"></span>{{ entry.plannedTeacher }}{% if entry.updatedTeacher %}<span class="fa mx-1 fa-fw fa-angle-double-right"></span><span class="fw-bold" style="color: {{ entry.scheduleType.color ~ "!important" }}">{{ entry.updatedTeacher }}</span>{% endif %}
                {% if entry.updatedRoom %}
                        <span class="fa fa-fw fa-location-dot ms-2 me-1"></span>{{ entry.plannedRoom }}<span class="fa mx-1 fa-fw fa-angle-double-right"></span><span class="fw-bold" style="color: {{ entry.scheduleType.color ~ "!important" }}">{{ entry.updatedRoom }}</span>
                {% endif %}
                {% if entry.updatedSubject %}
                    <span class="fa fa-fw fa-book ms-2 me-1"></span>{{ entry.plannedSubject }}<span class="fa mx-1 fa-fw fa-angle-double-right"></span><span class="fw-bold" style="color: {{ entry.scheduleType.color ~ "!important" }}">{{ entry.updatedSubject }}</span>
                {% endif %}
            </div>
            <div class="col-12">
                {% if entry.message and entry.scheduleType.code != 1 %}
                    <span class="fa fa-fw fa-message me-2"></span>
                    <span>{{ entry.message }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}